<div class="modal-header">
    <h4 class="modal-title">{{ method.name }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form>
        <div class="parameter-panel">
            <div class="parameter-title">
                <h6>Parameter</h6>
            </div>
            <div class="form-group">
                <ngs-code-editor [theme]="theme" [codeModel]="codeModel" [options]="options"> </ngs-code-editor>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" (click)="tryIt()">Try it</button>
        </div>
    </form>
    @if (isLoading()) {
        <div>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    @if (response()) {
        <div class="parameter-panel">
            <div class="parameter-title" [ngClass]="{ 'parameter-title-error': isError() }">
                <h6>Response</h6>
            </div>
            <div class="form-group">
                <ngx-json-viewer [json]="response()"></ngx-json-viewer>
            </div>
        </div>
    }
</div>
