<div class="service-panel" id="{{ microservice().link }}">
    <h3>{{ microservice().name }}</h3>
    <p class="text-muted">{{ microservice().description }}</p>
</div>
<div ngbAccordion>
    @if (activeId$ | async; as activeId) {
        @for (method of microservice().methods; track method.link) {
            <div ngbAccordionItem="{{ method.link }}" [title]="method.name" [collapsed]="activeId !== method.link">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>{{ method.name }}</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div>
                                <app-method [method]="method" [microservice]="microservice()" [document]="document()" />
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        }
    }
</div>
<hr />
