<pre><code [languages]="['typescript']" [highlight]="method().sdkUsage"></code></pre>
{{ method().description }}
<div>
    <button type="button" class="btn-try-it btn btn-sm btn-outline-secondary" (click)="tryIt()">Try it now</button>
</div>
<div class="parameter-panel">
    <div class="parameter-title">
        <h6>Parameter</h6>
        @if (!method().parameter) {
            <span class="text-muted">Empty paramter</span>
        }
    </div>
    @for (property of parameterProperties(); track property.name) {
        <app-property [property]="property" [document]="document()" />
    }
</div>

<div class="parameter-panel">
    <div class="parameter-title">
        <h6>Response</h6>
        @if (method().isResponseArray) {
            <span class="text-muted">array</span>
        }
        @if (!method().response) {
            <span class="text-muted">Empty response</span>
        }
    </div>
    @for (property of responseProperties(); track property.name) {
        <app-property [property]="property" [document]="document()" />
    }
    <hr />
</div>

<!--            <div>-->
<!--                <h6>Example</h6>-->
<!--                <hr />-->
<!--                <pre><code [languages]="['json']" [highlight]="json"></code></pre>-->
<!--            </div>-->
