:host {
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.3s;
    background-color: #f8f9fa;
    width: 23%;
    overflow-wrap: anywhere;
}

.nav-item .nav {
  padding-left: 10px;
}

.package-menu-item {
  font-weight: 700;
  line-height: 25px;
  color: #0366d6;
}

.service-menu .nav-link {
  color: #6a6a6a !important;
  font-size: 15px;
  text-transform: none;
  font-weight: 700;
}

.method-menu .nav-link {
  color: #6a6a6a !important;
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
}
