/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "highlight.js/styles/stackoverflow-light.css";
hr {
  border-top: 2px solid rgba(16, 85, 96, 0.1);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.parameter-title {
    background-color: rgba(16, 85, 96, 0.1);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
}

.h2 {
  font-size: 2.2rem;
  color: #252b33;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  font-family: Roboto, sans-serif;
}

pre {
  display: block;
  font-size: 87.5%;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


.variable {
    font-weight: 600;
    padding-right: 20px;
}

.parameter-panel {
    margin-top: 20px;
    font-size: 90%;
}

.property .property {
    padding-left: 30px;
}

.btn-try-it {
    margin-top: 10px;
}

.service-panel {
    margin-bottom: 20px;
}
